.elements__like {
  border: none;
  background-image: url("../../../images/like.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  /* padding: 0px 0px 3px 0px; */
  height: 19px;
  width: 21px;
}

.elements__like:hover {
  cursor: pointer;
}

.like-button:focus {
  outline: none;
}
